<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoGoMa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{{ url_for('static', filename='/style.css') }}"/>
    <script id="applicationScript" type="text/javascript" src="{{ url_for('static', filename='/script.js') }}"></script>
</head>
<body>
    <form action="/text_mode/download" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="text" name="text" class="btn btn-default">
        <input type="text" placeholder="file name" name="file_name" class="btn btn-default">
        <input type="submit" class="btn btn-default"/>
    </form>
</body>
</html>
